/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/confdb/
/config.guess
/config.log
/config.status
/config.sub
/configure
/install-sh
/install/
/libtool
/ltmain.sh
/missing
/.libs/
/depcomp
/liblmdbio.la
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/lmdbio.lo
/src/lmdbio.o
build
examples/test*
